body {
    background-color: #F4F7F9; 
    color: #082E64; 
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #082E64; 
    color: #3DB8A5; 
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    border-radius: 88px;
    padding: 10px;
    border: 2px solid #C89A50;


}


.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    border: 1px solid #C89A50; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
}

.card img {
    width: 120px;
    border: 2px solid #C89A50; 
    padding: 4px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2 {
    color: #082E64;
     margin: 10px 0 5px 0;
}

a {
    color: #3DB8A5; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #082E64; 
    color: #F4F7F9; 
    text-align: center;
    padding: 60px;
    margin-top: 20px;
}

.social-link {
    color: #3DB8A5; 
    margin: 0 15px;
    font-size: 2rem; /* Tamaño de iconos */
    transition: 0.3s;
}

.social-link:hover {
    border: 2px solid #C89A50; 
    color: #3DB8A5; /* Cambio de color al pasar el mouse */
    border-radius: 50%;
    padding: 10px;  
}



@media (max-width: 768px) {
    .main-container {
    grid-template-columns: 1fr;
  }
}
